* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  min-height: 100vh;
  background-color: #6f8695;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
}

.bmi_container {
  width: 100%;
  max-width: 600px;
  background-color: #1c448e;
  padding: 3rem 2rem;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(223, 207, 207, 0.5);
  font-weight: 900;
  font-size: 1rem;
  line-height: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
}

button {
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  border-radius: 15px;
  border: none;
  color: #dbfe87;
  background-color: #6f8695;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #58727f;
}

.result,
.result_bmi {
  margin-top: 1rem;
}

.bmi_guide {
  margin-top: 2rem;
  font-weight: normal;
}

.bmi_guide h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .bmi_container {
    padding: 2rem 1r
